.container {
    background-color: black;
}

.flex-container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Alan Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    color: grey;
    /* border: solid 1px blue; */
}

ul {
    /* remove o marcador da lista */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*controla o que acontece quando o conteúdo de um elemento é maior que o espaço disponível dentro dele.*/
    overflow: hidden;
}

/* Remover estilos em todos os estados */
/* a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
} */

ul li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #110d27;
    border: solid 1px #110d27;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: inherit;
    color: #725de7;
}

.flex-container-trailers {
    display: flex;
    flex-direction: row;
    /* deixa todos os elementos na mesma linha*/
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: solid 1px red; */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.card-body {
    padding-left: 10px;
    font-family: "Alan Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
}

.card-title {
    color: #725de7;
    opacity: 50%;
}

.card-text {
    color: rgb(177, 175, 175);
    opacity: 50%;
}

.carousel {
  max-width: 400px; /* Aumentar container para caber o iframe */
  margin: 0;
  flex: 1;
}

.iframeCarousel {
    width: 380px;   /* Ligeiramente menor que o container */
    height: 214px;  /* Proporção 16:9 (380 ÷ 16 × 9) */
    margin: 10px;   /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
}

.titulos-trailers {
    font-family: "Alan Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    color: #725de7;
    opacity: 50%;
}

.trailers-text {
    font-family: "Alan Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    color: rgb(177, 175, 175);
    opacity: 50%;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    font-family: "Alan Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    color: rgb(177, 175, 175);
    opacity: 50%;
}

ul.ul-lista {
    list-style-type: square !important;
    margin-left: 20px; /* Espaço para os marcadores */
    padding-left: 20px;
}

strong.p-teaser {
    color: #725de7;
}

strong.p-trailer {
    color: #725de7;
}

strong.p-dica {
    color: #725de7;
}

.flex-container-filmes {
    margin: 0;
    box-sizing: 0;
    display: flex;
    flex-direction: row;
    /* deixa todos os elementos na mesma linha*/
    flex-wrap: wrap;
    justify-content: space-around;
    /* color: white; */
    border: solid 1px yellow;
}

.titulos-filmes {
    font-family: "Alan Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    color: #725de7;
    opacity: 50%;
}

.filmes-text {
    font-family: "Alan Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    color: rgb(177, 175, 175);
    opacity: 50%;
}






