.container {
    background-color: black;
}

.flex-container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    /* border: solid 1px blue; */
}

ul {
    /* remove o marcador da lista */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*controla o que acontece quando o conteúdo de um elemento é maior que o espaço disponível dentro dele.*/
    overflow: hidden;
}

/* Remover estilos em todos os estados */
/* a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
} */

ul li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #110d27;
    border: solid 1px #110d27;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: inherit;
    color: #725de7;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    border: solid 1px red;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.card-body {
    padding-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-title {
    color: #725de7;
    opacity: 50%;
}

.card-text {
    color: rgb(177, 175, 175);
    opacity: 50%;
}

.carousel {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}