.container {
    background-color: black;
}

.flex-container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    /* border: solid 1px blue; */
}

ul {
    list-style-type: none; /* remove o marcador da lista */
    margin: 0;
    padding: 0;
    overflow: hidden; /*controla o que acontece quando o conteúdo de um elemento é maior que o espaço disponível dentro dele.*/
}

/* Remover estilos em todos os estados */
/* a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
} */

ul li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #110d27;
  border: solid 1px #110d27;
  border-radius: 10px 10px 0 0;
} 

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    border: solid 1px red;
}